<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031348344658-424c3l8o4ubj2a6uhvk15ek5ti9h769p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031348344658-424c3l8o4ubj2a6uhvk15ek5ti9h769p</string>
	<key>API_KEY</key>
	<string>AIzaSyDxlR4wi0cAcHQHXZB2p3aB7BOIcggD1_s</string>
	<key>GCM_SENDER_ID</key>
	<string>1031348344658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>whatever.whatever.EldoradoB2B</string>
	<key>PROJECT_ID</key>
	<string>eldoradoconsultant-ad2e5</string>
	<key>STORAGE_BUCKET</key>
	<string>eldoradoconsultant-ad2e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031348344658:ios:c54669d578031cb9aa8c8b</string>
	<key>DATABASE_URL</key>
	<string>https://eldoradoconsultant-ad2e5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>